body {
    font-family: Arial, sans-serif;
    background-color: #081b29;
    
}
.galary-heading{
    color: #fff;
    align-items: center;
    justify-content: center;
}
.gal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.gallery-item {
    position: relative;
    margin: 15px;
    overflow: hidden;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    margin: 0;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.gallery-item:hover img {
    transform: scale(1.1);
}
